.container0{
   width:400px;
border-radius: 14px;
border:1px solid lightgray;
padding:10px;
margin:60px auto;
}
.img0{
    height:300px;
    width:100%;
    border-radius: 14px;
}
.bor{
    display:flex;
    align-items: center;
    border-top: 1px solid lightgray;
    gap:10px;
}
.imgm{
    width:60px;
    height:40px;
    margin-top: 5px;
    

}
.rel{
    position:relative;
}
.ab{
    position:absolute;
    bottom:20px;
    background-color: rgba(46, 112, 254, 0.95);
    color:white;
}
.kk{
   background-color: white;
   color:black;
   bottom:20px;
   right:5px;
   position:absolute;
}
.jj{
    background-color: lightgrey;
    color:black;
    position:absolute;
    top:10px;
    left:5px;
}
.container1{
    margin:60px auto;
    width:500px;
    border:1px solid lightgray;
    position:relative;
    border-radius: 14px;
   

}
.abb{
    position:absolute;
    justify-content: center;
    bottom: 100px;
    left: 40px;
}

.imgb{
    width:100%;

}
.wh,.pp{
    color:white;
}

.bt{
    color:black;
    border-radius: 20px;
    padding:10px;
    border:none;
}

.in{
    border-radius: 5px;
    width:200px;
    padding:10px;
    border:none;
}

.profile{
    width: 600px;
    margin: 10px auto;
    position: relative;

}
.cover{
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
}
.user{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    bottom: -60px;
    border: 5px solid white;
}
.conn{
    width:650px;
    border:1px solid  lightgray;
    margin:60px auto;
    
}
.hh{
    align-items: center;
}
body{
    font-family: sans-serif;
}